body {
  background-color: rgb(250, 250, 250)
}

.like-btn {
  background-color: blue;
  color: white;
}

.remove-btn {
  background-color: red;
  color: white;
}

.notification {
  background-color: lightgray;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.notification.success {
  color: green;
  border-color: green;
}

.notification.error {
  color: red;
  border-color: red;
}
